! URXVT Settings
URxvt.intensityStyles: false
URxvt.scrollBar: false
! URxvt.scrollstyle: plain
! URxvt.keysym.Shift-Up: command:\033]720;1\007
! URxvt.keysym.Shift-Down: command:\033]721;1\007
! URxvt.resize-font.smaller: C-Down
! URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.cursorBlink: true
URxvt*saveLines: 5000

! Font
URxvt*font: xft:Droid Sans Mono for Powerline:size=12:antialias=true:hinting=true

! Padding
URxvt.internalBorder: 0

! Extensions
URxvt.perl-ext-common: default,clipboard,vtwheel

! Transparency
! URxvt.transparent:	true
! URxvt.shading:		20

! Pretty up fonts
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


! Colors

! special
*.foreground:   #ABB2BF
*.background:   #282c34
*.cursorColor:  #ABB2BF

! black
*.color0:       #000000
*.color8:       #5C6370

! red
*.color1:       #E06C75
*.color9:       #E06C75

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #D19A66
*.color11:      #D19A66

! blue
*.color4:       #62AFEE
*.color12:      #62AFEE

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #FFFFFF
