! Pretty up fonts
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


! Colors

! special
*.foreground:   #9aa7bd
*.background:   #1b202a
*.cursorColor:  #9aa7bd

! black
*.color0:       #000000
*.color8:       #2a3341

! red
*.color1:       #b15e7c
*.color9:       #b15e7c

! green
*.color2:       #709d6c
*.color10:      #709d6c

! yellow
*.color3:       #b5a262
*.color11:      #b5a262

! blue
*.color4:       #608cc3
*.color12:      #608cc3

! magenta
*.color5:       #8f72bf
*.color13:      #8f72bf

! cyan
*.color6:       #56adb7
*.color14:      #56adb7

! white
*.color7:       #323c4d
*.color15:      #FFFFFF
